---
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>About Me</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/blog/">博客</a>
    <a href="/about/">关于</a>

    <h1>About me</h1>
    <h2>...and this new page.</h2>

    <p>Hello, I'm a developer passionate about creating amazing web experiences.</p>
    <p>Feel free to explore my website and get in touch!</p>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>