---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "未完成";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>{ pageTitle }</title>
  </head>
  <body>
    <Navigation />
    <h1>你好，这里是{ pageTitle }。</h1>
    <p>之所以叫这个名字，是因为它还在开发中，而被“完美主义”所困的自己又无法轻易接受一个尚未完成的项目。</p>
    <p>但我还是决定先把它放出来，等到我觉得它足够好了，又或者哪一天想开了，不再纠结于名字这种事情了，再把名字改成其他更合适的名字。</p>
  </body>
</html>